  <div id="articles" class="container">

        <div class="card shadow mb-5 rounded">
            <div class="card-header">
                <a href="https://www.theatlantic.com/technology/archive/2019/03/cottage-cheese-new-greek-yogurt/585487/"
                    class="card-text">Cottage Cheese Is the New Greek Yogurt (Version for Scrapped)</a>
            </div>
            <div class="card-body">
                <img src="https://cdn.theatlantic.com/assets/media/img/mt/2019/03/GettyImages_159474364/thumb_wide_300.jpg?1553279503"
                    class="rounded float-left mr-3" alt="...">
                <p class="card-text">Americans’ dairy consumption is about to get a lot more cultured. An Object Lesson.
                </p>
                <a href="#" class="btn btn-primary">Save</a>
            </div>
        </div>

        <div class="card shadow mb-5 rounded">
            <div class="card-header">
                <a href="https://www.theatlantic.com/technology/archive/2019/03/cottage-cheese-new-greek-yogurt/585487/"
                    class="card-text">Cottage Cheese Is the New Greek Yogurt (Version for Scrapped)</a>
            </div>
            <div class="card-body">
                <img src="https://cdn.theatlantic.com/assets/media/img/mt/2019/03/GettyImages_159474364/thumb_wide_300.jpg?1553279503"
                    class="rounded float-left mr-3" alt="...">
                <p class="card-text">Americans’ dairy consumption is about to get a lot more cultured. An Object Lesson.
                </p>
                <a href="#" class="btn btn-primary">Notes</a>
                <a href="#" class="btn btn-danger">Delete</a>

            </div>
        </div>

    </div>