<div id="articles" class="container"></div>

    {{#if saved}}
        <h1>SAVED</h1>
        {{#each articles}}
            {{> articles/article-block}}
        {{/each}}
    {{else}}
        <h1>ELSE</h1>

        {{#each articles}}
            {{> articles/article-block}}
        {{/each}}

    {{/if}}



</div>