<li class="list-group-item w-100 d-flex justify-content-between">
    <h5 class="mb-1">{{body}}</h5>
    <small>
        <button type="button" class="btn btn-danger note-delete rounded shadow" data-id="{{id}}"><i class="fas fa-trash"></i></button>
    </small>
</li>