<li class="list-group-item w-100 d-flex justify-content-between">
    <h5 class="mb-1">{{body}}</h5>
    <small>
        <button type="button" class="btn btn-danger trash-note" data-id="{{id}}">trash</button>
    </small>
</li>